body{
  background-image: url(../img/dog/background.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  font-family:'Microsoft Sans Serif','Gungsuh',sans-serif;
  user-select:none;
}

h1{
  position: absolute;
  top:10px;
  left:60px;
  font-size:120px;
  color:rgb(255,255,255,0.5);
}

.cp_cssslider {
	width: 600px;
	height: 400px;
	overflow: hidden;
  margin:30px auto 0;
	border: 20px solid rgb(255,255,255,0.7);
  position:relative;
}

.cp_slide_item {
	width: 600px;
	height: 400px;
  float:left;
  position:relative;
  text-align:center;
  top:10px;

}
.cp_slidewrapper {
	width: 500%;/* slideの枚数×100% */
	position: relative;
	left: 0;
	animation: slider 25s infinite ease;/* スピード */
}
@-webkit-keyframes slider {
	/* 100%を枚数で割った%に割り振る */
  0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
	20% {
	-webkit-transform: translateX(-600px);
	transform: translateX(-600px);
	}
	40% {
	-webkit-transform: translateX(-1200px);
	transform: translateX(-1200px);
	}
	60% {
	-webkit-transform: translateX(-1800px);
	transform: translateX(-1800px);
	}
	80% {
	-webkit-transform: translateX(-2400px);
	transform: translateX(-2400px);
	}
	100% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
}
@keyframes slider {
	/* 100%を枚数で割った%に割り振る */
  0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
	20% {
	-webkit-transform: translateX(-600px);
	transform: translateX(-600px);
	}
	40% {
	-webkit-transform: translateX(-1200px);
	transform: translateX(-1200px);
	}
	60% {
	-webkit-transform: translateX(-1800px);
	transform: translateX(-1800px);
	}
	80% {
	-webkit-transform: translateX(-2400px);
	transform: translateX(-2400px);
	}
	100% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
}

.btns{
  position: absolute;
  top:350px;
  left:288px;
}

.btn{
  display:inline-block;
  background-color:rgb(255,255,255,0.7);
  font-size:12px;
  padding:8px 10px;
  margin:5px 0;
  border-radius:3px;
  text-decoration:none;
  color:#444;
	transition: color .5s, background.5s, box-shadow .5s, transform .5s;
}

.btn:hover{
    background-color:rgb(255,255,255,1);
}

.cat{
  background-color: #444;
  color:#fff;
}

.cat:hover{
    background-color:#444;
}

.heart-btn{
  float:right;
  position:absolute;
  top:370px;
  right:200px;
}

#count{
  background-color:rgb(255,255,255,0.7);
  width:40px;
  height:40px;
  border-radius:50%;
  text-align:center;
  line-height:40px;
  margin-bottom:20px;
  color:#444;
  font-family:'Century Gothic';
}

input{
  width:150px;
  height:50px;
  border-radius:10px;
  background:rgb(255,255,255,0.7);
  line-height:50px;
  color:#fff;
  padding:0 10px;
  text-align: center;
  cursor:pointer;
  box-shadow:0 8px 0 rgb(154, 69, 103,0.9);
  outline:none;
  border:none;
}

input:active{
    box-shadow:0 0 0 rgb(154, 69, 103,0.9);
    margin-top:8px;
}
input.fas{
  color:rgb(154, 69, 103,0.9);
  font-size:3em;
}
